.env
.venv/
__pycache__/
*.py[cod]
*.so
.pytest_cache/
.hypothesis/
.mypy_cache/
node_modules/
dist/
build/
dist/
eggs/
.eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg
*.egg-info/
MANIFEST
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
.cache/
.DS_Store
Thumbs.db
